<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi primera aplicación con Django</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %} {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary text-lg-start fixed-top" style="display: flex; background-color: rgba(118, 16, 158, 0.712); position: -webkit-sticky; position: sticky; top: 0%;">
        <div class="logo">
            <img src="{% static 'ungs_logo.png' %}" alt="logo" style="width: 10cm; margin-left: 20px; height: auto;">
        </div>
        <div class="container-fluid">
            <a class="navbar-brand" href="#" style="color: white;" img src="ungs_logo.png" alt="">Proyecto TP </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index-page' %}" style="color: white;"><strong>Inicio</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}" style="color: white;"><strong>Galería</strong></a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'favoritos' %}" style="color: white;"><strong>Favoritos</strong></a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        {% if request.user.is_authenticated %}
                        <form action="{% url 'exit' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="nav-link" style="background-color: transparent; color: white; border: none;"><strong>Salir</strong></button>
                        </form>
                        {% else %}
                        <a class="nav-link" href="{% url 'login' %}" style="color: white;"><strong>Iniciar sesión</strong></a>
                        {% endif %}
                    </li>
                </ul>

            </div>
        </div>
    </nav>

    {% block content %} {% endblock %} {% include "footer.html" %}