{% extends 'header.html' %} {% block content %} {% if request.user.is_authenticated %}
<h2 class="text-center" style="color:white; background-color:  rgba(118, 16, 158, 0.712); border-color:  rgba(118, 16, 158, 0.712); border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-left-radius: 25px; border-bottom-right-radius: 25px; padding: 15px; max-width: fit-content; margin: auto;">¡Bienvenido {{ user.username | upper }}!</h2>
{% else %}
<h2 class="text-center" style="color:white; background-color:  rgba(118, 16, 158, 0.712); border-color:  rgba(118, 16, 158, 0.712); border-top-left-radius: 0; border-top-right-radius: 0; border-bottom-left-radius: 25px; border-bottom-right-radius: 25px; padding: 15px; max-width: fit-content; margin: auto;">¡Bienvenido!</h2>
{% endif %}
<p class="text-center" style="color:white;">
    Mirá las imágenes desde <a href="{% url 'home' %}">este link.</a>
</p>
{% endblock %}